<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.box.moremodule">

    <application
        android:name="com.box.lib.app.LibApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/more_app_name"
        android:supportsRtl="true"
        android:theme="@style/lib_AppTheme"
        tools:replace="android:name">
        <activity android:name=".MoreMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
